{% extends 'base.html.twig' %}
{% block title %}
	SymRecipe - Nouveau post
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class='mt-4'>Création d'un post</h1>
		{{ form_start(form)}}

		<div class="form-group">
			{{ form_label(form.title) }}
			{{ form_widget(form.title) }}
			<div class="form-error">
				{{ form_errors(form.title) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>
				{{ form_row(form.level)}}

		{{ form_row(form.numberofperson)}}

		{{ form_row(form.city)}}


		{{ form_row(form.sport)}}
		<a href="{{ path('sport.new')}}" class="btn btn-primary">
			Créer un sport
		</a>

		{{ form_end(form)}}
	</div>
{% endblock %}

