{# Je lie notre page html à notre base.html.twig qui contient les link Bootsrap en autre  #}
{% extends 'base.html.twig' %}


{% block title %}
	SportNet - Les annonces sportifs
{% endblock %}

{% block body %}
	<div class="container mt-4 text-center">
		<h1>Les annonces</h1>
		<div class="count mt-4">
			<h6>
				Il y a
				{{ post.getTotalItemCount }}
				Annonces au total</h6>
		</div>
	</div>

	<div class="container">
		<div class="row align-items-start">
			{% for post in post %}
				<div class="card m-2" style="width: 18rem;">
					<div class="card-body">
						<h4 class="card-title text-center">{{ post.title }}</h4>
						<p class="card-text">{{ post.description }}</p>
						<h6 class="card-title">Quels Sport :
							{{ post.sport }}</h6>
						<h6 class="card-title  pb-2">Créer le :
							{{ post.createdAt |date("d/m/Y")}}</h6>
						<a href="#" class="btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			{% endfor %}
		</div>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(post) }}
			</div>
	</div>
{% endblock %}

