{# Je lie notre page html à notre base.html.twig qui contient les link Bootsrap en autre  #}
{% extends 'base.html.twig' %}

{% block title %}
	SportNet - Accueil
{% endblock %}

{% block body %}
	<div class="container-fluid bgImg">
		<div class="p-5 text-center bg-image">
			<div class="mask pb-5">
				<div class="d-flex justify-content-center align-items-center h-100">
					<div class="text-light title">
						<h1 class="mb-3">SPORTNET</h1>
						<h4 class="mb-3">Trouve toi un partenaire !</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="container text-center">
			<form class="d-flex form">
				<input class="form-control" type="search" placeholder="Quelle est votre recherche" aria-label="Search">
				<button class="btn btn-warning" type="submit">Rechercher</button>
			</form>
		</div>
	</div>
	<div class="posts">
		<h2 class="mt-4">Post de la communauté</h2>
		{% for post in post %}


						<div class="card m-2" style="width: 18rem;">
							<div class="card-body">
								<h4 class="card-title text-center">{{ post.title }}</h4>
								<p class="card-text">{{ post.description }}</p>
								<hr>
								<p class="card-title">Je recherche
									{{ post.numberOfPerson }}
									personnes de niveau
									{{ post.level }}
									pour pratiqué le
									{{ post.sport }}
									à
									{{ post.city }}</p>
								<p>Auteur :
									{{ post.user }}</p>

								<a href="{{ path('post.show', {id: post.id} )}}" class="btn btn-primary  btn-sm m-1">Voir l'annonce</a>
														{% if post.user == app.user %}

								<a href="{{ path('post.edit', {id: post.id} )}}" class='btn btn-warning m-1 btn-sm'>Modifier</a>
								<a href="{{ path('post.delete', {id: post.id} )}}" value="Delete post" onclick="confirm('Etes-vous sure de vouloir supprimer ce post') || event.preventDefault()" class='btn btn-danger m-1 btn-sm'>Supprimer</a>
														{% endif %}

								<p class="card-text text-secondary pb-2">Créer le
									{{ post.createdAt |date("d/m/Y")}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

	{% endblock %}

